*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.35rem;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
*::-webkit-scrollbar-track {
  margin-block: 1rem;
  background-color: var(--bg-primary);
}
*::-webkit-scrollbar-thumb {
  margin-right: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.35);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

:root {
  --bg-primary: hsla(194, 13%, 20%, 1);
  --fg-primary: hsla(184, 11%, 28%, 1);
  --bg-paper: hsla(184, 11%, 28%, 0.25);
  --bg-disabled: hsla(27, 10%, 50%, 0.25);
  --accent: hsla(30, 30%, 50%, 1);
  --accent-text: hsla(30, 50%, 60%, 1);
  --accent-bg: hsla(27, 28%, 50%, 0.05);
  --accent-bg-hover: hsla(27, 28%, 50%, 0.3);
  --text: hsla(44, 21%, 80%, 1);
  --text-secondary: hsla(44, 21%, 80%, 0.75);
  --text-hover: hsla(44, 21%, 90%, 1);
  --text-disabled: hsla(0, 0%, 100%, 0.15);
  --modal-bg: hsla(194, 10%, 5%, 0.75);
  --modal-fg: hsla(194, 15%, 20%, 0.5);
  --danger: hsla(0, 60%, 50%, 1);
  --danger-bg: hsla(0, 60%, 50%, 0.15);
  --danger-bg-hovered: hsla(0, 60%, 50%, 0.3);
  --border-radius-sm: 0.15rem;
  --border-radius: 0.25rem;
  --border-radius-md: 0.4rem;
}

html {
  scroll-behavior: smooth;
}
body {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-primary);
}
