*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: hsla(194, 13%, 20%, 1);
  --bg-paper: hsla(184, 11%, 28%, 1);
  --accent: hsla(27, 28%, 50%, 1);
  --accent-bg: hsla(27, 28%, 50%, 0.25);
  --accent-bg-hover: hsla(27, 28%, 50%, 0.3);
  --text: hsla(44, 21%, 83%, 1);
  --text-hover: hsla(44, 21%, 83%, 1);
  --border-radius-sm: 0.15rem;
  --border-radius: 0.25rem;
  --border-radius-md: 0.4rem;
}

body {
  background-color: var(--bg-primary);
}
