.wrapper {
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 100%;
  max-width: 1600px;
}

/************************** Logo **************************/
.logo-container {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.logo-container a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: var(--accent);
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--accent-bg);
  color: var(--accent-text);
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 0.35em 0.5em;
  transition: background-color 300ms ease, color 300ms ease;
}
.btn:hover {
  /* color: var(--text-hover); */
  background-color: var(--accent-bg-hover);
}
.btn:active {
  background-color: var(--accent);
  transform: scale(0.975);
}
.btn:disabled {
  user-select: none;
  pointer-events: none;
  color: var(--text-disabled);
  background-color: var(--bg-disabled);
}
.btn.active {
  color: var(--text);
  background-color: var(--accent);
}

/********************** Navbar ************************/
.nav-container {
  background-color: var(--fg-primary);
}
.nav-container .wrapper {
  display: flex;
  padding-block: 1rem;
  justify-content: space-between;
  align-items: center;
}
.nav-container .wrapper .nav-items {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav-container .wrapper .nav-items .nav-item .nav-link {
  position: relative;
  cursor: pointer;
  color: var(--text-secondary);
  font-size: 1.25rem;
  text-decoration: none;
  transition: color 350ms ease;
}
.nav-container .wrapper .nav-items .nav-item .nav-link:hover {
  color: var(--text-hover);
}
.nav-container .wrapper .nav-items .nav-item .nav-link.active {
  color: var(--text-hover);
}
.nav-container .wrapper .nav-items .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 0.1em;
  left: 50%;
  bottom: -0.25em;
  transform: translate(-50%, 0%);
  border-radius: 0.1em;
  background-color: var(--accent);
}

/********************* Category **********************/
main .category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-block: 1rem;
  padding-block: 0.5rem;
}

/********************** Total Results *****************/
main .wrapper .total-results {
  display: block;
  padding-block: 1rem;
  text-align: center;
  background-color: var(--bg-paper);
  border-radius: var(--border-radius);
}

/********************** Sort Wrapper *******************/
main .sort.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 1rem;
  margin-bottom: 2rem;
}
main .sort.wrapper .part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/***************** Zero Result ********************/
main .zero-result {
  min-height: 500px;
  height: 30vh;
  margin-bottom: 1rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}
main .zero-result .fa-face-frown {
  /* position: absolute; */
  font-size: 5rem;
  margin-bottom: 1rem;
  color: hsla(0, 50%, 50%, 0.15);
}
main .zero-result .status-code {
  font-size: 3rem;
  color: hsla(0, 50%, 50%, 0.75);
  padding: 1.5rem;
  border-radius: var(--border-radius-md);
  background-color: hsla(0, 50%, 50%, 0.1);
  margin-bottom: 1rem;
}

/*********************** Modal Section **********************/
#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--modal-bg);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}
#modal-container .wrapper .modal {
  position: relative;
  height: 70vh;
  padding: 1rem;
  padding-top: 2rem;
  padding-right: 0.25rem;
  border-radius: var(--border-radius-md);
  border-top: 2px solid rgba(255, 255, 255, 0.05);
  border-left: 2px solid rgba(255, 255, 255, 0.015);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  background-color: var(--modal-fg);
  backdrop-filter: blur(5px);
  overscroll-behavior: contain;
  transform: scale(0);
  transition: transform 300ms ease;
  /* overflow-y: auto; */
  min-height: 500px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.12em 0.3em;
  border-radius: 50%;
  color: transparent;
  background-image: radial-gradient(#e66465, var(--danger));
}
.modal-close-btn:hover {
  color: var(--text-hover);
  background-color: var(--danger);
}
.modal .left-content {
  display: none;
}
#modal-container .wrapper .modal .content {
  padding-right: 0.5rem;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-block: contain;
}
#modal-container .wrapper .modal .content .image-container {
  width: 100%;
  height: 10rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 1rem;
  background-image: url(https://media.istockphoto.com/vectors/image-preview-icon-picture-placeholder-for-website-or-uiux-design-vector-id1222357475?k=20&m=1222357475&s=170667a&w=0&h=YGycIDbBRAWkZaSvdyUFvotdGfnKhkutJhMOZtIoUKY=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#modal-container .wrapper .modal .content .image-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
#modal-container .wrapper .modal .content .title {
  margin-bottom: 0.5rem;
}
#modal-container .wrapper .modal .content .info {
  margin-block: 0.5rem;
}
#modal-container .wrapper .modal .content .info .author {
  display: flex;
  align-items: center;
}
#modal-container .wrapper .modal .content .info .author .date {
  font-size: 0.75rem;
  color: var(--text-secondary);
}
#modal-container .wrapper .modal .content .info .author .views {
  margin-left: auto;
}

#modal-container .wrapper .modal .content::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}
#modal-container .wrapper .modal .content::-webkit-scrollbar-corner {
  background: transparent;
}
#modal-container .wrapper .modal .content::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 20%, 0.75);
}
#modal-container .wrapper .modal .content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.25);
}
#modal-container .star {
  cursor: pointer;
  margin-right: 0.2rem;
}
#modal-container .close-modal {
  cursor: pointer;
  background-color: var(--danger-bg);
  color: var(--danger);
  border: none;
  outline: none;
  padding: 0.25rem;
  position: relative;
  border-radius: 50%;
  margin-top: 1rem;
  left: 50%;
  transform: translate(-50%, 0%) scale(1);
  transition: all 300ms ease;
}
#modal-container .close-modal:hover {
  background-color: var(--danger-bg-hovered);
}
#modal-container .close-modal:active {
  box-shadow: 0 0 10px var(--danger-bg);
  transform: translate(-50%, 0%) scale(0.95);
  text-shadow: 0 0 10px var(--danger-bg-hovered);
}
#modal-container .close-modal .fa-solid.fa-xmark {
  font-size: 1.5rem;
  margin-inline: 0.175em;
}

/********************* News Section ****************/
.grid.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-auto-rows: 1fr; */
  grid-auto-flow: row;
  gap: 1rem;
}
.grid.wrapper .card {
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--bg-paper);
}
.grid.wrapper .card .thumbnail {
  height: 10rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-disabled);
  overflow: hidden;
  background-image: url(https://media.istockphoto.com/vectors/image-preview-icon-picture-placeholder-for-website-or-uiux-design-vector-id1222357475?k=20&m=1222357475&s=170667a&w=0&h=YGycIDbBRAWkZaSvdyUFvotdGfnKhkutJhMOZtIoUKY=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid.wrapper .card .thumbnail img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: transform 300ms ease;
}
.grid.wrapper .card:hover .thumbnail img {
  transform: scale(1.05);
}

.card .card-content {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.card .card-content .title {
  font-weight: normal;
  font-size: 1.25rem;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card .card-content .title:hover {
  text-underline-offset: 3px;
  text-decoration: underline;
}
.card .card-content .desc {
  color: var(--text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card .card-footer {
  margin-top: auto;
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--bg-disabled);
  padding-top: 0.5rem;
}
.card .card-footer .read-more {
  display: none;
}
.card .card-footer .author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card .card-footer .author .name {
  font-size: 1.15rem;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}
.card .card-footer .views {
  color: var(--text-secondary);
}
.author .date {
  color: var(--text-secondary);
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.75rem;
  background-color: var(--bg-disabled);
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.views {
  color: var(--text-secondary);
  font-size: 0.75rem;
}
.views .rating {
  color: #f59e0b;
  margin-bottom: 0.25rem;
}

/********************* Footer *****************/
.footer {
  margin-top: 3rem;
  min-height: 200px;
  background-color: var(--fg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .copy-right {
  margin-top: 5rem;
  text-align: center;
  font-size: 1rem;
  color: var(--text-secondary);
}

@media screen and (min-width: 576px) {
  .wrapper {
    padding-inline: 3.5rem;
  }
  .grid.wrapper .card {
    display: flex;
    gap: 1rem;
    /* grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column; */
  }
  .grid.wrapper .card .thumbnail {
    flex-basis: 30%;
    align-self: center;
    height: 13rem;
  }
  .grid.wrapper .card .card-content {
    flex-basis: 100%;
  }
  .modal {
    display: flex;
    width: 80%;
    margin-inline: auto;
  }
  .modal .left-content {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 2px solid rgba(255, 255, 255, 0.25);
  }
  .modal .left-content .author {
    margin-inline: auto;
    margin-bottom: 1rem;
  }
  .modal .left-content .author .name {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .modal .left-content .author .avatar {
    height: 10rem;
    width: 10rem;
    margin-right: 0;
  }
  .modal .left-content .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-block: 1rem;
    color: var(--text-secondary);
  }
  .modal .left-content .block:last-child {
    color: #f59e0b;
    margin-bottom: 0;
    flex-direction: row;
    justify-self: center;
    margin-inline: auto;
  }
  .modal .content {
    flex-basis: 80%;
  }
  .modal .content .info {
    display: none;
  }
  .modal .content .title {
    font-size: 1.5rem;
    margin-bottom: 1.35rem !important;
  }
  .modal .content .desc {
    line-height: 1.25rem;
    font-size: 1.15rem;
  }
  .card .card-footer .read-more {
    display: block;
  }
  .card .card-footer .read-more .btn {
    /* color: var(--text); */
  }
  #modal-container .wrapper .modal .content .image-container {
    height: 20rem;
  }
}
