.wrapper {
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 100%;
  max-width: 1600px;
}

/************************** Logo **************************/
.logo-container {
  font-size: 1.85rem;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--accent-bg);
  color: var(--text);
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0.35em 0.5em;
  transition: background-color 300ms ease;
}
.btn:hover {
  color: var(--text-hover);
  background-color: var(--accent-bg-hover);
}
.btn:active {
  background-color: var(--accent);
  transform: scale(0.975);
}
.btn:disabled {
  user-select: none;
  pointer-events: none;
  color: var(--text-disabled);
  background-color: var(--bg-disabled);
}
.btn.active {
  background-color: var(--accent);
}

/********************** Navbar ************************/
.nav-container {
  background-color: var(--bg-paper);
}
.nav-container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .wrapper .nav-items {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav-container .wrapper .nav-items .nav-item .nav-link {
  cursor: pointer;
  color: var(--text);
  font-size: 1.25rem;
  text-decoration: none;
  transition: color 350ms ease;
}
.nav-container .wrapper .nav-items .nav-item .nav-link:hover {
  color: var(--text-hover);
}
.nav-container .wrapper .nav-items .nav-item .nav-link.active {
  color: var(--text-hover);
}

/********************* Category **********************/
main .category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-block: 1rem;
  padding-block: 0.5rem;
}

/********************** Total Results *****************/
main .wrapper .total-results {
  display: block;
  padding-block: 1rem;
  text-align: center;
  background-color: var(--bg-paper);
  border-radius: var(--border-radius);
}

/********************** Sort Wrapper *******************/
main .sort.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 1rem;
  margin-bottom: 2rem;
}
main .sort.wrapper .part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/********************* News Section ****************/
main .grid.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}
.grid.wrapper .card {
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--bg-paper);
}
.grid.wrapper .card .thumbnail {
  height: 10rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-disabled);
  overflow: hidden;
}
.grid.wrapper .card .thumbnail img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  transition: transform 300ms ease;
}
.grid.wrapper .card:hover .thumbnail img {
  transform: scale(1.05);
}

.card .card-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.card .card-content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card .card-content .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--bg-disabled);
  padding-top: 0.5rem;
}

.card .card-footer .author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card .card-footer .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--bg-disabled);
}

/********************* Footer *****************/
footer {
  margin-top: 1rem;
  min-height: 300px;
  background-color: var(--bg-paper);
}
@media screen and (min-width: 720px) {
  .wrapper {
    padding-inline: 3.5rem;
  }
}
